* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


header {
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: maroon;
  background-image: url('books.jpg');
  background-size: cover; 
  background-attachment: fixed; 
  background-position: center;
  height: 200px;
}


.icon-bar {
  width: 5%;
  position: fixed;
  z-index: 1;
  background: indianred;
  overflow-x: hidden;
}
.icon-bar a {
  display: block;
  text-align: center;
  padding: 12px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;

}
.icon-bar a:hover {
  background-color: maroon;
}
.active {
  background-color: maroon;
}


.main {
     width: 80%; 
      height: 60%; 
      padding: 10px 0;
      margin: auto;
      border-radius: 5px; 
      border: solid 1px #ccc;
      box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
      background: #ebebeb; 
      float: center; 
}
.transbox {
  
  background-color: white;
  opacity: 0.8;
}
.transbox p {
  font-weight: bold;
  color: #000000;
}
.formcontainer {
        box-sizing: border-box;
      text-align: center;
      }
.container {
      padding: 16px 0;
      text-align:center;
      }
.polaroid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}


form {
      float: center;
      }
input[type=text], input[type=password] {
      width: 30%;
      padding: 16px 8px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      }
button {
      background-color: indianred;
      color: white;
      padding: 20px ;
      margin: 10px ;
      border: none;
      width: 30%;
      font-size: 20px;
      }
     button:hover {
      opacity: 0.8;
      }
     


footer {
  background-color: Maroon;
  padding: 10px;
  text-align: center;
  color: white;
}